<h1>Failed Jobs</h1>
<% if @jobs.any? %>
  <ul class="button-group right">
    <li>
      <form action="<%= u('requeue/all') %>" method="POST">
        <%= csrf_token_tag %>
        <input type="submit" class="button tiny" value="Retry Failed Jobs"></input>
      </form>
    </li>
    <li>
      <form action="<%= u('failed/clear') %>" method="POST">
        <%= csrf_token_tag %>
        <input type="submit" class="button tiny alert" value="Clear Failed Jobs"></input>
      </form>
    </li>
  </ul>
<% end %>
<p class="sub">
  The list below contains all jobs that have a last_error message set.
</p>
<p class="sub">
  <%= "Showing #{start} to #{start + per_page} of #{@all_jobs.count} failed jobs." %>
</p>
<div class="failed job">
  <% @jobs.each do |job| %>
    <%= partial :job, {:job => job} %>
  <% end %>
</div>
<%= partial :next_more, :start => start, :total_size => @all_jobs.count, :per_page => per_page %>
